spImagesDirectory = /Users/idoilani/Desktop/merged/SPCBIR/images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 10
spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 200
spExtractionMode = false
spNumOfSimilarImages = 10
spKDTreeSplitMethod = MAX_SPREAD
spKNN = 15
spMinimalGUI = true
spLoggerLevel = 1