spImagesDirectory = /Users/gideontietz/ClionProjects/SPCBIR/images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 8
spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 200
spExtractionMode = false
spNumOfSimilarImages = 7
spKDTreeSplitMethod = MAX_SPREAD
spKNN = 15
spMinimalGUI = true
spLoggerLevel = 2