spImagesDirectory = /Users/idoilani/Desktop/merged/SPCBIR/images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 10
spPCAFilename = pca.yml
spPCADimension = 28

spNumOfFeatures = 100
spExtractionMode = true
spNumOfSimilarImages = 7
spKDTreeSplitMethod = MAX_SPREAD
spKNN = 15
spMinimalGUI = true
spLoggerLevel = 2